
body {
    font-family: Arial, sans-serif;
    background-color: #c9b6b6;
    text-align: center;
    padding: 50px;
    background-image: url('online-payment.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

}



input[type="checkbox"],
input[type="radio"] {
    margin: 10px;
    transform: scale(1.2);
}


label {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}


#mysubmit {
    background-color: #007BFF;
    color: white;
    border-radius: 25px;
    font-size: 1.2em;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#mysubmit:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


#checkboxresult,
#payresult {
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
    margin-top: 15px;
}

